

 .carousel-item {
    height: 300px;
    min-height: 500px;
   

 
}
.carousel-caption{
    height: fit-content;
    min-height: fit-content;
}

.box-shadow{
   box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

